<CodeSnippet Format="1.0.0">
	<Header>
		<Title>Newline Character</Title>
		<Author>shreyansh</Author>
		<Description>Inserts '\n' (fast newline, avoids endl flush).</Description>
		<Shortcut>nl</Shortcut>
	</Header>
	<Snippet>
		<Code Language="CPP">
			<![CDATA['\n']]>
		</Code>
	</Snippet>
</CodeSnippet>
